body {
  background-image: url('monitor.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin-top: 170px;
  margin-left: 220px;
}
h1 {
  color: green;
  font-family: 'Courier New';
  font-weight: bold;
  cursor: pointer !important;
}
p {
  color: green;
  font-family: 'Courier New';
  font-weight: bold;
}
a {
  color: green;
  font-family: 'Courier New';
  font-weight: bold;
  text-decoration: none;
}
#blinkingSymbol {
  color: green;
  font-size: 30px; 
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  /* Estilos para pantallas con un ancho máximo de 768px (por ejemplo, tablets) */
  body {
    font-size: 16px; /* Ajustar el tamaño de fuente para dispositivos móviles */
  }
  .navbar {
    display: none; /* Ocultar la barra de navegación en pantallas pequeñas */
  }
}
