body {
  background-image: url('monitor.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin-top: 170px;
  margin-left: 220px;
}
h1 {
  color: green;
  font-family: 'Courier New';
  font-weight: bold;
}
p {
  color: green;
  font-family: 'Courier New';
  font-weight: bold;
}
ul {
  list-style-type: none;
  padding: 0;
  font-weight: bold;
}
a {
  color: orange;
  font-family: 'Courier New';
  font-weight: bold;
}
div{
  color: green;
  font-family: 'Courier New';
  font-weight: bold;
}
#blinkingSymbol {
  color: green;
  font-size: 30px; 
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
