body {
  background-image: url('monitor.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  text-align: center;
  margin-top: 170px;
}
h1 {
  color: green;
  font-family: 'consolas';
}
p {
  color: green;
  font-family: 'consolas';
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: orange;
  font-family: 'consolas';
}
