body {
  background-image: url('monitor.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin-top: 150px;
  margin-left: 200px;
}
h1 {
  color: green;
  font-family: 'consolas';
}
p {
  color: green;
  font-family: 'consolas';
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: orange;
  font-family: 'consolas';
}
