/*body {
  background-image: url('minimalism-code-quote-text-wallp.jpg');
  font-family: 'consolas';
  margin: 0;
  padding: 20px;
}

h1 {
  color: white;
  font-family: 'consolas';
  text-align: center;
}

p {
  color: white;
  font-family: 'consolas';
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

a {
  color: blue;
  font-family: 'consolas';
  text-decoration: none;
}
*/